@model HomeIndexVM
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h3>Last Message: @Context.Session.GetString("LastMessage")</h3>
<h2>Comments</h2>

@foreach (var post in Model.Comments)
{
  <h3>@post.Topic</h3>
  <p>@post.Text</p>

  <ul>
    @foreach (var reply in post.Replies)
    {
      <li>@reply.Text</li>
    }
  </ul>

  <form class="replyform" method="post" action="~/Home/NewComment">
    <input name="ParentPostId" type="hidden" value="@post.PostId" />
    <input name="Topic" type="hidden" value="@post.Topic" />
    <input class="replytext" name="Text" placeholder="Reply to this Comment..." />
    <span class="replytext_err"></span>
    <input type="submit" value="Submit Reply" />
  </form>
}

@{ 
    bool didfail = false;
    if (TempData["didfail"] != null && (bool)TempData["didfail"])
    {
        didfail = true;
    }
}
@if (didfail)
{
<div class="text-danger bg-danger">IT FAILED</div>
}

<form method="post" action="~/Home/NewComment">
  <label >Topic</label>
  <input name="Topic" />
  <br />
  <label>Text</label>
  <input name="Text" />
  <br />
  <input type="submit" />
</form>

@section Scripts {
<script>
    $('.replyform').submit(function () {
        text = $(this).find('.replytext').val();
        if (text.length < 2 || text.length > 1000) {
            $(this).find('.replytext_err').html('Must be between 2 and 1000 characters');
            return false;
        }
        return true;
    });
    $('.replytext').blur(function () {
        text = $(this).val();
        if (text.length >= 2 && text.length <= 1000) {
            $(this).next().html('');
        }
    });

</script>
}